!!!5
html
  head
    title #{title} - FeigDev
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 
        a(href="/")= "FeigDev"
    .container
      .main-content
        block content
      .sidebar
        block sidebar
