!!!5
html
  head
    title #{title} - FeigDev
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.ui.all.css')
    script(type='text/javascript', src='javascripts/jquery-1.8.2.js')
    script(type='text/javascript', src='javascripts/jquery.ui.core.js')
    script(type='text/javascript', src='javascripts/jquery.ui.widget.js')
    script(type='text/javascript', src='javascripts/jquery.ui.accordion.js')
    script(type='text/javascript', src='javascripts/accordion.js')
  body
    header
      h1 
        a(href="/")= "FeigDev"
    .container
      .main-content
        block content
      .sidebar
        block sidebar
