extends layout

block content
  h1= title
  #notes
    - each note in notes
      div.note
        p
        div.title
          b
            | #
            a(href="/notes/"+note.id)!= note.title
          |  | 
          text!= note.created_at
        p
        div.body!= note.body
