extends layout

block content
  h1= title
  #notes
    - each note in notes
      div.note
        p
        div.created_at= note.created_at
        div.title
            a(href="/notes/"+note.id)!= note.title
        div.body!= note.body
